* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  align-items: stretch;
  justify-content: center;
  width: 1440px;
  height: 696px;
}
.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery-item {
  width: 360px;
  min-height: 200px; /* Гарантує мінімальну висоту */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.gallery-image {
  width: 100%;
  height: 100%; /* Заповнює всю висоту */
  display: block;
  object-fit: cover; /* Обрізає зайве, щоб не було пустого місця */
}
.sl-wrapper .sl-image .sl-caption {
  font-size: 18px;
  color: rgb(234, 223, 223) !important;
  background-color: rgba(189, 112, 112, 0.7);
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  max-width: 30%;
  margin: 0 auto;
  box-sizing: border-box;
}
.feedback-form {
  width: 480px;
}

.feedback-form > label {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
  font: inherit;
  padding: 8px;
}

.feedback-form textarea {
  resize: none;
}
